[submodule "packages/sclang"]
	path = packages/sclang
	url = https://github.com/iani/sclang.git
[submodule "packages/sc-snippets"]
	path = packages/sc-snippets
	url = https://github.com/iani/sc-snippets.git
[submodule "packages/org-notes"]
	path = packages/org-notes
	url = https://github.com/iani/org-notes.git
