[submodule "packages/sclang"]
	path = packages/sclang
	url = git@github.com:iani/sclang.git
[submodule "packages/sc-snippets"]
	path = packages/sc-snippets
	url = git@github.com:iani/sc-snippets.git
[submodule "packages/org-notes"]
	path = packages/org-notes
	url = git@github.com:iani/org-notes.git
